$fontStackHeading: 'Elsie', cursive;
$fontStackBody: 'Roboto', sans-serif;

body {
  font-family: $fontStackBody;
}

h1, h2 {
  font-family: $fontStackHeading;
}

button,
input,
a {
  font-family: $fontStackBody;
  font-size: clamp(1.6rem, 3vw, 2rem);
  font-weight: 400;
  letter-spacing: 5px;
}

header {
  h1 {
    font-size: clamp(4.5rem, 5vw, 7rem);
    font-weight: 900;
  }

  p {
    font-size: clamp(2rem, 3vw, 2.8rem);
    font-weight: 300;
    font-style: italic;
  }
}

form {
  legend {
    font-size: clamp(2rem, 3vw, 3rem);
    font-weight: 700;
    font-style: italic;
    letter-spacing: 4px;
  }

  label {
    font-size: clamp(1.8rem, 3vw, 2.5rem);
    font-weight: 400;
    letter-spacing: 4px;
  }
}

h2 {
  font-size: clamp(3rem, 3vw, 5rem);
  font-weight: 400;
}

.errorP {
  font-family: $fontStackHeading;
  font-size: clamp(2.5rem, 3vw, 4.5rem);
}