.quiz {
  display: none;
  min-height: 100vh;
  .skincareForm {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .questionBlock {
      min-height: 100vh;
    }
    fieldset {
      margin-bottom: 30px;
      padding: 20px 0;
      box-shadow: 15px 15px #8657b152;
      border: 1px solid #f3ecf3;
      span {
        border-bottom: 5px dotted #0e0b0d;
      }
      legend {
        margin: 0 auto;
      }
      label {
        margin-right: 5px;
      }

      input {
        margin-right: 10px;
      }
    }
    input {
      margin-top: 20px;
    }
  }
}