.quiz {
  display: none;
  min-height: 100vh;
  .skincareForm {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    fieldset {
      margin-bottom: 30px;
      padding: 20px 0;
      box-shadow: 15px 15px #8657b152;
      border: 1px solid #f3ecf3;
      span {
        border-bottom: 5px dotted #0e0b0d;
      }
      p {
        margin-bottom: 10px;
      }
      label {
        margin: 0 5px 0 20px;
      }
    }
    input {
      margin-top: 20px;
    }
  }
}