.quiz {
  display: none;
  min-height: 100vh;
  .skincareForm {
    display: block;
    text-align: center;
    form {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    }
  }
}