html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.noScroll {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.noScroll::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 85%;
  max-width: 1280px;
  margin: 0 auto;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

button,
input {
  cursor: pointer;
  border: none;
}

button,
input,
a {
  padding: 20px;
  border-radius: 20px;
  background:  linear-gradient(145deg, #c39fca, #a486aa);
  box-shadow: 13px 13px 27px #9b7fa1, 
              -13px -13px 27px #d1abd9;
}
