html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.noScroll {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.noScroll::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 85%;
  max-width: 1280px;
  margin: 0 auto;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

button,
input {
  cursor: pointer;
  border: none;
}

button,
input,
a {
  text-align: center;
  padding: 20px;
  border-radius: 50px;
  background: linear-gradient(145deg, #c39fca, #a486aa);
  box-shadow:  20px 20px 60px #9b7fa1, 
             -20px -20px 60px #d1abd9;
  transition: all 0.3s ease-in-out;           
}

button:hover,
input:hover,
a:hover,
button:focus,
input:focus,
a:focus {
  border-radius: 50px;
  background: linear-gradient(145deg, #a486aa, #c39fca);
  box-shadow:  20px 20px 60px #9b7fa1, 
             -20px -20px 60px #d1abd9;
}
