html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.noScroll {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.noScroll::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 85%;
  max-width: 1280px;
  margin: 0 auto;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

button,
input {
  cursor: pointer;
  border: none;
}

button,
input,
a {
  padding: 20px;
  border-radius: 20px;
  background:  linear-gradient(145deg, #c39fca, #a486aa);
  box-shadow: 13px 13px 27px #9b7fa1, 
              -13px -13px 27px #d1abd9;
}

button:after,
input:after,
a:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

button:hover:after,
button:focus:after,
input:hover:after,
input:focus:after,
a:hover:after,
a:focus:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

button:active:after,
input:active:after,
a:active:after {
  opacity: 0;
}

// button:hover,
// button:focus,
// input:hover,
// input:focus,
// a:hover,
// a:focus {
  
// }