@media (max-width: 830px) {
  input[type=radio]:checked + label:after {
    top: 14px;
  }
}

@media (max-width: 800px) {
  input[type=radio]:checked + label:after {
    top: 13px;
  }
}

@media (max-width: 768px) {
  input[type=radio]:checked + label:after {
    top: 11px;
  }
}

@media (max-width: 414px) {
  input[type=radio]:checked + label:after {
    top: 6px;
  }
}