.results {
  display: none;
}

.productStyles {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
}

.skincareProduct {
  .redo {
    margin-top: 50px;
  }
  .skincareProductContents {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    box-shadow: 15px 15px #8657b152;
    border: 1px solid #f3ecf3;
    position: relative;
    &::before {
      content: '⭐';
      position: absolute;
      top: -1%;
      left: 0;
      font-size: clamp(3rem, 3vw, 5rem);
      text-shadow: 2px 2px 1px #49028a;
    }
    &::after {
      content: '⭐';
      position: absolute;
      bottom: -1%;
      right: 0;
      font-size: clamp(3rem, 3vw, 5rem);
      text-shadow: 2px 2px 1px #49028a;
    }
    .purchase {
      text-decoration: none;
      float: left;
    }

    .errorP {
      margin-bottom: 40px;
      text-align: center;
    }
  }
}

